body {
  font-size: 25px;
  background-color: tan;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#PlayButton {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}
.PlayButtonDIV {
  text-align: center;
}

.AngelsLOGO {
  text-align: center;
}
#Instructions {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}

#Sources {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}

#WhippedCreamDIV {

}


.drag-over {
  border: 8px solid;
  border-color: black;
}
#WhippedCream {
  position: absolute;
  width: 50px;
  height: 50px;
}

#Nuts {
  top: 400px;
  right: 0px;
  position: relative;
  width: 300px;
  height: 300px;
}

#Cinnamon {
  top: 400px;
  left: 600px;
  position: relative;
  width: 250px;
  height: 300px;
}
#Wafers {
  top: 400px;
  right: 360px;
  position: absolute;
  width: 250px;
  height: 300px;
}

#ChocaloteChips {
  top: 400px;
  right: 340px;
  position: absolute;
  width: 200px;
  height: 300px;
}

.UserCup {
  position: absolute;
  width: 200px;
}

.Layers {
  top: 20px;
  right: 10px;
}

#Layer1 {
  z-index: 10;
}

#Layer2 {
z-index: 20;
}

#Layer3 {
z-index: 30;
}
#UserCupInput {
  width: 200px;
}
#Cookie {
  position: absolute;
}

