body {
  font-size: 25px;
  background-color: tan;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#PlayButton {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}
.PlayButtonDIV {
  text-align: center;
}

.AngelsLOGO {
  text-align: center;
}
#Instructions {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}

#Sources {
  font-size: 65px;
  width: 400px;
  padding: 25px;
  border: 25px;
  margin-bottom: 10px;
}

.ToppingButtonDIV {
  text-align: center;
}

